// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$purple: #885A89;
$green: #8AA8A1;
$light: #CBCBD4;
$skin: #D1B490;
$orange: #EE7B30;
