.create-friend-container {
  margin: 3px 0px;
}


.enter-info {
  justify-content: center;
   margin: 30px;
 }

 .edit-friend-container {
  margin: 3px 0px;
}


.change-info {
  justify-content: center;
   margin: 30px;
 }
