.container-buddyup {
  margin: 3px 0px;
}

// Log buttons

.log-buttons {
  display: flex;
  justify-content: end;
}

.log-buttons a {
  text-decoration: none;
  color: $purple;
  padding: 10px;
}

// Search bar and filters

.search-bar {
  width: 93%;
  justify-content: center;
  margin: 0px auto;
  margin-top: 30px;
}

.search-bar p {
  background-color: #f5ede8;
  color: #ada19a;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 10px;
  align-items: center;
}

.search-tags p {
  background-color: #f5ede8;
  color: #ada19a;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 50px;
  align-items: center;
}

.search-tags {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

// cards

.card-friend {
  overflow: hidden;
  background: white;
  width: 93%;
  margin: 0px auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(167, 167, 167, 0.2);
  margin-top: 30px;
}

.profile-image {
  overflow: hidden;
  background: white;
  width: 93%;
  margin: 0px auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(167, 167, 167, 0.2);
  margin-top: 30px;
  object-fit: cover;
}

.card-friend > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-friend h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-friend p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding-left: 0px;
}

.card-friend .card-friend-infos {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-friend-infos-first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-friend-infos-first-line a {
  text-decoration: none;
  color: black;
}
.available {
  color: $orange;
  padding-bottom: 0px;
}

.card-friend-infos .localisation {
  opacity: .7;
  text-decoration: underline;
  padding-bottom: 0px;
}

.localisation-line {
  display: flex;
  opacity: .7;
  margin: 10px 0px;
  align-items: center;
  padding-left: 0px;
  margin-bottom: 20px;
}

.localisation-line ion-icon {
  font-size: 14px;
}
