.container-buddyup {
  margin: 0px auto;
  background-color: #fffcfa;
}


.top-profil{
  display: flex;
  justify-content: space-between;
}

.user-profil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 20px 0px 30px;
}

.user-profil h2 {
  margin-left: 20px;
}

.avatar-img img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  // margin: 80px 20px;
}

p{
  font-family: $body-font;
  font-size: 30px;
  padding-left: 40px;
  padding-bottom: 8px;
}

.buttonedit a {
  color: $green;
  float: right;
  margin-right: 25px;
  margin-top: 25px;
  font-size: 18px;
}

.friends {
  background-color: #daa01a13;
  align-items: center;
  height: 140px;
  width: 100%;
  margin: 30px 0px;
  padding: 10px 30px;
}

.friends img {
  height: 80px;
  width: 80px;
  padding-top: 0px;
  border-radius: 50%;
  object-fit: cover;
}

.friends a {
  color: $orange;
}

.friends-yours p {
  margin: 0px;
  font-family: $body-font;
  font-size: 18px;
  font-weight: 500;
  padding-left: 0px;
}

.allfriends {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.explore-link {
  font-size: 14px;
}

.line {
  border: 1px solid #8aa8a16c;
  width: 85%;
  margin: 20px auto;
}

h1{
  font-family: $body-font;
  font-size: 21px;
  margin-top: 21px;
  margin-bottom: 8px;
  margin-left: 23px;
  font-size: 25px;
  padding-left: 6px
}

.identité {
  align-items: center;
}

.identité p {
  font-size: 16px;
}

.identité ion-icon {
  padding-right: 20px;
}

.btn-flat {
  width: 150px;
  margin-top: 10px;
}

.iconsidentité {
  display: flex;
  margin-bottom: -15px;
}

.commentaire {
  display:flex;
  padding-left: 25px;
}
.commentaire p {
  font-size: 16px;
  padding-bottom: -37px;
  margin-bottom: -9px;
  margin-top: 9px;
  font-family: $body-font;
}

.date_commentaire {
  color: #aea4a4;
}


.commentaire img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 8px;
  object-fit: cover;
}

.titre{
  margin-bottom: 16px;
  font-size: 28px;
  margin-top: 8px;
}
