.big_container{
background-color: #fffcfa;
}

.container_buddyup{
  display: flex;
  justify-content: space-between;
}

.avatar-img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  display: block;
  padding: 8px;
  padding-top: 30px;
  margin-left: 21px;
  margin-top: 12px;
}

p{
  font-family: $body-font;
  font-size: 30px;
  padding-left: 40px;
  padding-bottom: 8px;
}

#buttonedit {
  padding-left: 0px;
  margin-top: 23px;
  height: 30px;
  width: 62px;
  margin-right: 24px;
  padding-left: 14px;
}

.friends {
  background-color: #605d5d29;
  height: 150px;
  width: 350px;
  border-radius: 16px;
  margin-left: 30px;
  margin: 0px auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0px 20px;
}

.friends img {
  height: 80px;
  width: 80px;
  padding-top: 0px;
  border-radius: 17px;
  margin-top: 24px;
  object-fit: cover;

}

.friends a{
  padding-left: 17px;
  color: #d3912f;;
}

.allfriends {
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 0px;
  font-size: 21px;
}

.allfriends p{
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding-left: 8px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 35px;
}
.lien_explore{
  font-size: 14px;
}

.line {
  border: 1px solid #d4d4d4;
  width: 85%;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

h1{
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  margin-top: 21px;
  margin-bottom: 8px;
  margin-left: 23px;
  font-size: 25px;
  padding-left: 6px
}

.identité p{
  margin: 0px;
  font-size: 18px;
  padding-left: 12px;
  margin: 10px;
}

.btn-flat{
  width: 150px;
  margin-top: 10px;
}

.iconsidentité{
  display: flex;
  margin-bottom: -15px;
}

.commentaire{
  display:flex;
  padding-left: 16px;
}
.commentaire p {
  font-size: 16px;
  margin-left: -25px;
  padding-bottom: -37px;
  margin-bottom: -9px;
  margin-top: 9px;
  font-family: "Open Sans", sans-serif;

}

.date_commentaire {
  color: #aea4a4;
}


.commentaire img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  width: 60px;
  margin-top: 8px;
  object-fit: cover;
}

.titre{
  margin-bottom: 16px;
  font-size: 28px;
  margin-top: 8px;
}
