.container-buddyup {
  margin: 0px auto;
}

.search-features {
  display: flex;
  justify-content: space-around;
  margin-top: 8vmin;
}

.search-reservation {
  width: 70%;
}


.search-reservation p {
  background-color: #f5ede8;
  color: #ada19a;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 10px;
  align-items: center;
}

.filters ion-icon {
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
}

.date{
  margin-bottom: 0px;
  }

.subtitle {
  padding: 10px 0px;
}

.cards-pro {
  display: flex;
}

.card-profile {
  background-size: cover;
  background-position: center;
  height: 340px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0px 10px;
  margin-bottom: 20px;
}

.profile-reservation-infos {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  align-self: flex-end;
  margin-bottom: 20px;
  width: 85%;
}

.profile-reservation-infos p {
  font-family: $body-font;
  font-size: 18px;
  font-weight: 300;
  padding-left: 0px;
  margin-bottom: -2px;
}

.profile-reservation-infos h3 {
  font-family: $body-font;
  font-size: 24px;
  font-weight: 500;
}


.card-preferred {
  overflow: hidden;
  height: 120px;
  display: flex;
  align-items: center;
  margin: 40px 10px;
  justify-content: center;

}

.card-preferred img {
  height: 100%;
  width: 40%;
  border-radius: 10px;
  object-fit: cover;
}

.card-preferred h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-preferred p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.card-preferred .card-preferred-infos {
  padding: 16px;
  display: flex;
  justify-content: space-around;
}

.infos-stars {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.infos-stars ion-icon {
  margin-left: 5px;
  color: rgb(249, 200, 52);
}

.infos-text {
  width: 180px;
}

.infos-text p {
  padding-left: 0px;
}

.modal-btn{
  padding-bottom: 0px;
  padding-left: 3px;
  margin-bottom: -17px;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  display: block;
  background: transparent;
  border: none;
  cursor: pointer;
  }

  .modal-container{
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  .modal-container.active {
    display: block;
  }

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
}

.modal{
  width: 100%;
  height: 300px;
  max-width: 500px;
  min-width: 300px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.close-modal {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #ada19a;
  color: #fff;
}

.modal h1{
  margin-bottom: 10px;
  font-family: open sans-serif;
  font-weight: 500;
}

.modal p{
  line-height: 1.4;
  margin-bottom: 5px;
}

.form-reviews{
  padding: 30px;
  padding-top: 10px;
}

.form-control{
  border-radius:8px;
  background-color: #f6ebeb;
}

.form-select {
  border-radius:8px;
  background-color: #f6ebeb;
}

.first_name {
  font-weight: bold;
}

.name-reviews{
  font-size: 23px;
    font-weight: bold;
    font-family: Open sans-serif;
    margin-bottom: 1px;
    padding-left: 0px;
    margin-left: 0px;
}
