
.calendar-line {
  display: flex;
  opacity: .7;
  margin: 10px 0px;
  align-items: center;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.calendar-line p {
  padding-bottom: 0px;
}

.calendar-line ion-icon {
  font-size: 14px;
  margin-right: 10px ;
}

.personnality-line {
  display: flex;
  opacity: .7;
  margin: 10px 0px;
  align-items: center;
  padding-right: 10px;
}

.personnality-line p {
  padding-bottom: 0px;
}

.personnality-line ion-icon {
  font-size: 14px;
  margin-right: 3px ;
}


.event-line {
  display: flex;
  opacity: .7;
  margin: 10px 0px;
  align-items: center;
  padding-right: 10px;
}

.event-line p {
  padding-bottom: 0px;
}

.event-line ion-icon {
  font-size: 14px;
  margin-right: 3px ;
}

.hobby-line {
  display: flex;
  opacity: .7;
  margin: 10px 0px;
  align-items: center;
  padding-right: 10px;
}

.hobby-line p {
  padding-bottom: 0px;
}

.hobby-line ion-icon {
  font-size: 14px;
  margin-right: 3px ;
}

.logos-first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.back-friends a {
  text-decoration: none;
  color: $orange;
  margin-left: 20px;
  font-weight: 500;
}

.profile-image {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-description {
 justify-content: center;
  margin: 20px;

}

.profile-description p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding-left: 0px;
}

#click-me {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #8AA8A1;
  transition: background 0.3s ease;
  text-decoration: none;
  line-height: 1;
  display: block;
  margin: auto;
  border: none;
  margin-top: 33px;
}
