<h1>
  <%= @friend.first_name %>
  <button class="btn btn-link">Request</button>
  <%= link_to "delete this friend", friend_path(@friend), method: :delete, class: "btn btn-cancel", data: { confirm: "Are you sure you want to delete this friend?" } %>
 </h1>
