  <div class="navigation">
      <ul>
        <li class="list active">
          <a href="/friends">
            <span class="icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="text">Home</span>
        <div class="indicator"></div>
          </a>
        </li>
        <li class="list">
          <a href="#">
            <span class="icon">
              <ion-icon name="chatbubbles-outline"></ion-icon>
            </span>
            <span class="text">Friends</span>
          </a>
        </li>
        <li class="list">
          <a href="/reservations">
            <span class="icon">
              <ion-icon name="file-tray-stacked-outline">

              </ion-icon></span>
            <span class="text">History</span>
          </a>
        </li>
        <li class="list">
          <a href="profil">
            <span class="icon">
              <ion-icon name="person-outline"></ion-icon>
            </span>
            <span class="text">Profil</span>
          </a>
        </li>
      </ul>
    </div>
