<h1>Pages#home</h1>


<p>Find me in app/views/pages/home.html.erb</p>
<<<<<<< HEAD

=======
<%= link_to "log-in", new_user_session_path %>
<%= link_to "log-out", destroy_user_session_path, method: :delete %>
>>>>>>> 49a618d1d3b30285ed6d5ce84592aeadd8c3a0be
