.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #8AA8A1;
  transition: background 0.3s ease;
  text-decoration: none;
  line-height: 1;
  margin-top: 25px;
  display: block;
  margin: 20px auto;

}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #8AA8A1;
  transition: background 0.3s ease;
  text-decoration: none;
  line-height: 1;
}
