.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #8AA8A1;
  transition: background 0.3s ease;
  text-decoration: none;
  line-height: 1;
  margin-top: 25px;
  display: block;
  margin: 20px auto;

}

.create-friend {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #8AA8A1;
  transition: background 0.3s ease;
  text-decoration: none;
  line-height: 1;
  margin-top: 25px;
  display: block;
  margin: 20px auto;
  border: none;

}

.update {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #8AA8A1;
  transition: background 0.3s ease;
  text-decoration: none;
  line-height: 1;
  display: block;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #8AA8A1;
  transition: background 0.3s ease;
  text-decoration: none;
  line-height: 1;
}

.btn-cancel-account {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #D1B490;
  transition: background 0.3s ease;
  text-decoration: none;
  line-height: 1;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-flat-search {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #8AA8A1;
  transition: background 0.3s ease;
  text-decoration: none;
  line-height: 1;
  display: block;
  float: right;
}
